@{
	bool authorized = User.Identity?.IsAuthenticated ?? false;
}


<!-- Header section -->
<header class="header-section" id="header">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 text-center text-lg-left">
					<!-- logo -->
					<a asp-controller="Home" asp-action="Index" class="site-logo">
						<img src="img/logo.png" alt="">
					</a>
				</div>
				<div class="col-xl-6 col-lg-5">
					<form class="header-search-form">
						<input type="text" placeholder="Search on divisima ....">
						<button><i class="flaticon-search"></i></button>
					</form>
				</div>
				<div class="col-xl-4 col-lg-5">
					<div class="user-panel">
						@if (!authorized)
						{
							<div class="up-item">
								<i class="flaticon-profile"></i>
								<a href="#" v-on:click="SignIn()">Sign</a> In or
								<a href="#" v-on:click="SignUp()">Create Account</a>
							</div>
						}
						else
						{
							<div class="up-item">
								<div class="shopping-card">
									<i class="fa-solid fa-cart-shopping"></i>
									<span>{{cart}}</span>
								</div>
								<a asp-action="Checkout">Shopping Cart</a>
							</div>
							<div class="up-item">
								<i class="flaticon-profile"></i>
								<a asp-action="SignOut" asp-controller="Home" class="show-autorize-form">Out</a>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="main-navbar">
		<div class="container">
			<!-- menu -->
			<ul class="main-menu">
				<li><a asp-controller="Home" asp-action="Index">Home</a></li>
				<li><a asp-controller="Home" asp-action="Product">Women</a></li>
				<li><a href="#">Men</a></li>
				<li>
					<a href="#">
						Jewelry
						<span class="new">New</span>
					</a>
				</li>
				<li>
					<a href="#">Shoes</a>
					<ul class="sub-menu">
						<li><a href="#">Sneakers</a></li>
						<li><a href="#">Sandals</a></li>
						<li><a href="#">Formal Shoes</a></li>
						<li><a href="#">Boots</a></li>
						<li><a href="#">Flip Flops</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Pages</a>
					<ul class="sub-menu">
						<li><a href="./product.html">Product Page</a></li>
						<li><a href="./category.html">Category Page</a></li>
						<li><a href="./cart.html">Cart Page</a></li>
						<li><a href="./checkout.html">Checkout Page</a></li>
						<li><a href="./contact.html">Contact Page</a></li>
					</ul>
				</li>
				<li><a href="#">Blog</a></li>
			</ul>
		</div>
	</nav>
</header>
<!-- Header section end -->
